body {
    background-color: #1b1b1b;
    color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #00ffcc;
    margin-top: 20px;
    transition: transform 0.5s ease;
}

.profile-pic:hover {
    transform: scale(1.1);
}

h1 {
    font-size: 2.5em;
    color: #00ffcc;
    margin: 20px 0 10px;
}

#intro-text {
    font-size: 1.1em;
    color: #b3b3b3;
    margin: 15px auto;
    max-width: 600px;
}

/* Typewriter effect */
.fade-in {
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.social-links a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-links a img:hover {
    transform: scale(1.2);
}

.projects {
    max-width: 800px;
    width: 90%;
    text-align: left;
    margin-top: 50px;
}

.project-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background: #2a2a2a;
    border-radius: 10px;
    padding: 15px;
    transition: transform 0.3s, background 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
    background: #3b3b3b;
}

.project-icon {
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.project-info {
    flex: 1;
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #00ffcc;
    margin: 0;
}

.player-count {
    font-size: 1em;
    color: #00ffcc;
}

.project-description {
    display: none;
    color: #b3b3b3;
    font-size: 0.9em;
}

.project-item:hover .project-description {
    display: block;
}

footer {
    margin-top: 50px;
    padding: 10px;
    width: 100%;
    background: #1b1b1b;
    color: #7a7a7a;
    text-align: center;
    border-top: 1px solid #333;
}
