.project-description {
    display: none;
    color: #b3b3b3;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease, padding 0.5s ease;
}

.project-item.active .project-description {
    display: block;
    max-height: 200px;
    padding-top: 10px;
}

.project-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #2a2a2a;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 20px;
    transition: transform 0.3s, background 0.3s;
}

.project-item:hover {
    transform: scale(1.05);
    background: #3b3b3b;
}

.project-info {
    flex-grow: 1;
}
